@import "../styles/themes.css";

@import "tailwindcss";

html, body {
padding: 0;
margin: 0;
min-height: 100%;
background: var(--bg-main);
color: var(--text-primary);
}

{
box-sizing: border-box;
}

main {
min-height: 100vh;
background: var(--bg-main);
}
